<a href="https://colab.research.google.com/github/siddhshekharpandey/desktop-tutorial/blob/main/Data_Cleaning_%26_Preparation_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Title: Data Cleaning & Preparation**

#**Objective:-**
**To clean and prepare a raw dataset for analysis by handling missing values, correcting data types, removing duplicates, and standardizing formats.**

#**Dataset:**
**You can use any dataset with common data quality issues. For demonstration, we'll use a hypothetical CSV file named raw_data.csv.**

#**Steps Involved:**

#**1. Load the Dataset**

Read the CSV file using Pandas.

In [110]:
import pandas as pd

In [111]:
# Load the dataset
df = pd.read_csv("/content/healthcare-dataset-stroke-data.csv")

In [112]:
# Display basic info
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [113]:
# Display summary statistics
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
                 id          age  hypertension  heart_disease  \
count   5110.000000  5110.000000   5110.000000    5110.000000
mean   36517.829354    43.226614      0.097456       0.054012
std    21161.721625    22.612647      0.296607       0.226063
min       67.000000     0.080000      0.000000       0.000000
25%    17741.250000    25.000000      0.000000       0.000000
50%    36932.000000    45.000000      0.000000       0.000000
75%    54682.000000    61.000000      0.000000       0.000000
max    72940.000000    82.000000      1.000000       1.000000

       avg_glucose_level          bmi       stroke
count        5110.000000  4909.000000  5110.000000
mean          106.147677    28.893237     0.048728
std            45.283560     7.854067     0.215320
min            55.120000    10.300000     0.000000
25%            77.245000    23.500000     0.000000
50%            91.885000    28.100000     0.000000
75%           114.090000    33.100000     0.000000
max           271.740000    97.600000     1.000000

#**2. Explore the Data**

Check for missing values, data types, and basic statistics.

In [114]:
# Check first few rows
print("First 5 rows:\n", df.head())

First 5 rows:
       id  gender   age  hypertension  heart_disease ever_married  \
0   9046    Male  67.0             0              1          Yes
1  51676  Female  61.0             0              0          Yes
2  31112    Male  80.0             0              1          Yes
3  60182  Female  49.0             0              0          Yes
4   1665  Female  79.0             1              0          Yes

       work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0        Private          Urban             228.69  36.6  formerly smoked
1  Self-employed          Rural             202.21   NaN     never smoked
2        Private          Rural             105.92  32.5     never smoked
3        Private          Urban             171.23  34.4           smokes
4  Self-employed          Rural             174.12  24.0     never smoked

   stroke
0       1
1       1
2       1
3       1
4       1

In [115]:
# Check data types and non-null counts
print("\nData Types & Info:")
print(df.info())

Data Types & Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

In [116]:
# Check missing values
print("\nMissing Values in Each Column:")
print(df.isnull().sum())

Missing Values in Each Column:
id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [117]:
# Get basic statistics (numerical columns)
print("\nBasic Statistics:")
print(df.describe())

Basic Statistics:
                 id          age  hypertension  heart_disease  \
count   5110.000000  5110.000000   5110.000000    5110.000000
mean   36517.829354    43.226614      0.097456       0.054012
std    21161.721625    22.612647      0.296607       0.226063
min       67.000000     0.080000      0.000000       0.000000
25%    17741.250000    25.000000      0.000000       0.000000
50%    36932.000000    45.000000      0.000000       0.000000
75%    54682.000000    61.000000      0.000000       0.000000
max    72940.000000    82.000000      1.000000       1.000000

       avg_glucose_level          bmi       stroke
count        5110.000000  4909.000000  5110.000000
mean          106.147677    28.893237     0.048728
std            45.283560     7.854067     0.215320
min            55.120000    10.300000     0.000000
25%            77.245000    23.500000     0.000000
50%            91.885000    28.100000     0.000000
75%           114.090000    33.100000     0.000000
max           271.740000    97.600000     1.000000

In [118]:
# Check column names
print("\nColumn Names:")
print(df.columns.tolist())

Column Names:
['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']

#**3. Handle Missing Values**

Fill or drop missing values based on context.

In [119]:
# Check missing values before handling
print("Missing Values Before Handling:\n", df.isnull().sum())

Missing Values Before Handling:
 id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [120]:
#  1: Fill missing values in numerical columns with mean
df['bmi'] = df['bmi'].fillna(df['bmi'].mean())

In [121]:
# 2: Fill missing categorical values with mode (most frequent value)
if df['smoking_status'].isnull().sum() > 0:
    df['smoking_status'] = df['smoking_status'].fillna(df['smoking_status'].mode()[0])

In [122]:
#  3: Drop rows if too many missing values (optional)
df = df.dropna(thresh=len(df.columns)-2)  # keep rows with at least all but 2 columns non-null

In [123]:
# Check missing values after handling
print("\nMissing Values After Handling:\n", df.isnull().sum())

Missing Values After Handling:
 id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

#**4. Fix Data Types**

Convert columns to appropriate types (e.g., dates, integers)

In [124]:
# Show original data types
print("Original Data Types:\n", df.dtypes)

Original Data Types:
 id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

# Example conversions

In [125]:
# 1. Convert categorical-like columns to category type
categorical_cols = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [126]:
# 2. Convert integer-like float columns to int (if no missing values left)
if df['bmi'].isnull().sum() == 0:  # ensure no missing values remain
    df['bmi'] = df['bmi'].astype(float)   # keep as float (BMI usually decimal)

df['age'] = df['age'].astype(int)  # age should be integer

In [127]:
# 3. Convert binary columns (0/1) to boolean if needed
df['hypertension'] = df['hypertension'].astype(bool)
df['heart_disease'] = df['heart_disease'].astype(bool)
df['stroke'] = df['stroke'].astype(bool)

In [128]:
# Show updated data types
print("\nUpdated Data Types:\n", df.dtypes)

Updated Data Types:
 id                      int64
gender               category
age                     int64
hypertension             bool
heart_disease            bool
ever_married         category
work_type            category
Residence_type       category
avg_glucose_level     float64
bmi                   float64
smoking_status       category
stroke                   bool
dtype: object

#**5. Remove Duplicates**

Identify and drop duplicate rows.

In [129]:
# Check shape before removing duplicates
print("Shape before removing duplicates:", df.shape)

Shape before removing duplicates: (5110, 12)

In [130]:
# Find duplicate rows
duplicates = df[df.duplicated()]
print("\nNumber of duplicate rows:", duplicates.shape[0])

Number of duplicate rows: 0

In [131]:
# Drop duplicate rows
df = df.drop_duplicates()

In [132]:
# Check shape after removing duplicates
print("Shape after removing duplicates:", df.shape)

Shape after removing duplicates: (5110, 12)

#**6. Standardize Text Data**

Strip whitespace, convert to lowercase, fix typos.

In [133]:
#  Text columns to clean
text_cols = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

In [134]:
# 1. Strip whitespace & convert to lowercase
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [135]:
# 2. Fix common typos / inconsistent labels
# Gender column
df['gender'] = df['gender'].replace({'female': 'female', 'male': 'male', 'other': 'other'})

In [136]:
# ever_married column
df['ever_married'] = df['ever_married'].replace({'yes': 'yes', 'no': 'no'})

In [137]:
# work_type column
df['work_type'] = df['work_type'].replace({
    'private': 'private',
    'self-employed': 'self_employed',
    'govt_job': 'govt_job',
    'children': 'children',
    'never_worked': 'never_worked'
})

In [138]:
# Fix common typos / inconsistent labels
df['Residence_type'] = df['Residence_type'].replace({
    'urban': 'urban',
    'rural': 'rural'
})

In [139]:
# smoking_status column
df['smoking_status'] = df['smoking_status'].replace({
    'formerly smoked': 'formerly_smoked',
    'never smoked': 'never_smoked',
    'smokes': 'smokes',
    'unknown': 'unknown'
})

In [140]:
# Preview cleaned data
print(df[text_cols].head())

   gender ever_married      work_type Residence_type   smoking_status
0    male          yes        private          urban  formerly_smoked
1  female          yes  self_employed          rural     never_smoked
2    male          yes        private          rural     never_smoked
3  female          yes        private          urban           smokes
4  female          yes  self_employed          rural     never_smoked

#**7. Feature Engineering (Optional)**

Create new columns or transform existing ones.

In [141]:
# 1. Create Age Groups

df['age_group'] = pd.cut(df['age'],
                         bins=[0, 12, 18, 35, 50, 65, 100],
                         labels=['child', 'teen', 'young_adult', 'adult', 'middle_age', 'senior'])

In [142]:
# 2. Create BMI Category
df['bmi_category'] = pd.cut(df['bmi'],
                            bins=[0, 18.5, 24.9, 29.9, 100],
                            labels=['underweight', 'normal', 'overweight', 'obese'])

In [143]:
# 3. Combine Hypertension & Heart Disease

df['cardio_risk'] = df['hypertension'] + df['heart_disease']
df['cardio_risk'] = df['cardio_risk'].apply(lambda x: 'high' if x > 0 else 'low')

In [144]:
# 4. Create a Binary Feature for Marriage

df['is_married'] = df['ever_married'].apply(lambda x: 1 if str(x).lower() == 'yes' else 0)

In [145]:
# 5. BMI/Age Ratio (custom feature)

df['bmi_age_ratio'] = df['bmi'] / (df['age'] + 1)   # +1 to avoid division by zero

In [146]:
# Preview new features

print(df[['age', 'age_group', 'bmi', 'bmi_category', 'cardio_risk', 'is_married', 'bmi_age_ratio']].head())

   age   age_group        bmi bmi_category cardio_risk  is_married  \
0   67      senior  36.600000        obese        high           1
1   61  middle_age  28.893237   overweight         low           1
2   80      senior  32.500000        obese        high           1
3   49       adult  34.400000        obese         low           1
4   79      senior  24.000000       normal        high           1

   bmi_age_ratio
0       0.538235
1       0.466020
2       0.401235
3       0.688000
4       0.300000